<li class="list-group-item" id="comment-<%= comment.id %>" >
  
  <div class="d-flex flex-row">
    <div class="p-2 user-comment">
      <h5><%= comment.user.name %> <%= comment.user.surname %></h5>
    </div>
    <% if current_user.id == comment.user_id %>
      <div class="ml-auto p-2">   
        <%= button_to "Elimina", comment, method: :delete, 
            data: { confirm: "Vuoi eliminare il commento?" }, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
    
  <p><%= comment.description %> </p>

  <p class="text-muted">Pubblicato <%= time_ago_in_words(comment.created_at) %> ago</p>

</li>