<li id="group-<% group.id %>" class="group">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"> <%= group.name %> </h5>
      <p class="card-text"> Membri: <%= group.members.length %> </p>
      <p class="card-text"> Ruolo:
        <% role = membership(group.members) %>
        <span class="badge badge-<%= color(role) %>"> <%= role %> </span>
      </p>
    </div>
    <div class="card-footer text-muted text-center">
      <% if current_page?(action: 'index') %>
        <%= link_to "Show", message_board_group_url(@message_board, group.id),
                            class: "card-link" %>
      <% else %>
        <% if role == "invited" %>
          <%= link_to "Accept", "#",
                              class: "card-link text-success" %>
          <%= link_to "Refuse", "#",
                                class: "card-link text-danger" %>
        <% else %>
          <%= link_to "Leave", "#",
                              class: "card-link text-danger" %>
        <% end %>
        <%= link_to "Members", "#",
                               class: "card-link" %>
      <% end %>
    </div>
  </div>
</li>
