<div class="card group-form">
  <div class="card-body">
    <h5 class="card-title">Crea un nuovo gruppo</h5>
    <%= form_for [@message_board, @new_group] do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <div class="form-row">
        <div class="col-6">
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="col-1">
          <%= f.text_field :state, class: "form-control", 
                                  readonly: true, 
                                  value: "private" %>
        </div>
        <div class="col-1">
          <%= f.submit "Crea", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>