<div class="row mt-5">
  <div class="container col-12 col-md-6 mx-auto" align="center">
      <img class="image-profile" src="https://picsum.photos/200/300/?random"/>
      <h4>
        <%= @user.name %> <%= @user.surname %>
      </h4>
  </div>
  <div class="container col-12 col-md-6 mx-auto">
    <div>
      <h5>Email</h5>
      <p class="text-muted"><%= @user.email %></p>
      <h5>Anno di nascita</h5>
      <p class="text-muted"><%= @user.birthday%></p>
      <h5>Indirizzo</h5>
      <p class="text-muted"><%= @user.address%></p>
    </div>
    <div class="mt-4">
      <h5>Corsi attivi: <font class="text-muted"><%= @user.courses.count %></font></h5>
      <h5>Documenti caricati: <font class="text-muted"><%= @user.documents.count %></font></h5>
      <h5>Eventi creati: <font class="text-muted"><%= @user.documents.count %></font></h5>
    </div>
  </div>
</div>
