<div class="row">
  <div class="col px-3 my-5">
    <h1><%= @user.name %> <%= @user.surname %></h1>
  </div>
</div>
<div class="row">
  <div class="col px-3 ml-5">
    <div class="table-responsive w-50 mt-5">
      <table class="table">
        <tr>
          <td>Matricola:</td>
          <td><%= @user.serial_number %></td>
        </tr>
        <tr>
          <td>Nome:</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>Cognome:</td>
          <td><%= @user.surname %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
