<li class="list-group-item" id="event-<%= event.id %>" >
  
  <div class="d-flex flex-row">
    <div>
      <h5> <%= event.name %> </h5>
    </div>
    <% if controller.controller_name == "groups" %>
      <div class="float-right ml-auto">
        <%@creators.each do |creator| %>
          <% if creator.event_id == event.id && creator.user_id == current_user.id %>
            <%= link_to message_board_group_event_url(@message_board, @group, event), method: :delete do %>
              <button type="button" class="btn btn-danger">Elimina</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div> 
    
  <p class="event-details">
    <i class="fas fa-calendar-alt mr-2"></i>
    <%= event.appointment.to_formatted_s(:short) %>
  </p>
  <p class="event-details">
    <i class="fas fa-map-marker-alt mr-2"></i>
    <%= event.place %>
  </p>
  <p><%= event.description %> </p>

  <p class="text-muted"><%= time_ago_in_words(event.created_at) %> ago</p>

</li>