<li id="document-<%= document.id %>" class="document">
  <div class="card">

    <div class="card-body">
      <div class="d-flex flex-row">
        <div class="mr-auto p-2">
          <h5 class="card-title"><%= document.name %></h5>  
        </div>
      
        <% if document.file.attached? %>
          <div class="p-2">
            <%= link_to "Download", 
                rails_blob_url(document.file, disposition: 'attachment'),
                class: "btn btn-success" %>
          </div>
        <% end %>       

        <% if current_user.id == document.user_id %>
          <div class="p-2">
          <%= button_to "Elimina", message_board_document_url(document.message_board_id, document.id), 
                                  method: :delete, data: { confirm: "Vuoi eliminare il documento?" }, 
                                  class: "btn btn-danger" %>
          </div>
        <% end %>     
      </div>

      <div class="d-flex flex-row">
        <div class="mr-auto p-2">
          <p class="card-text"><%= document.description %></p>
        </div>
      </div>
    </div>

    <div class="card-footer text-muted text-center">
      <%= time_ago_in_words(document.updated_at) %> ago
    </div>
    
  </div>
</li>