<h1><%= @course.name %></h1>
<%= render "message_boards/menu", :type => "documents" %>

<div class="d-flex flex-row">
  <div class="ml-auto p-2">
    <%= link_to "Upload documento", 
                  new_message_board_document_url(@message_board.id),
                  class: "btn btn-info" %>
  </div>
</div>

<ul class="documents">
  <%= render @documents %>
</ul>

<%= will_paginate @documents, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>