<h1><%= @course.name %></h1>
<%= render "message_boards/menu", :type => "documents" %>

<div class="card document-form">
  <div class="card-body">
    <h5 class="card-title">Pubblica un nuovo documento</h5>
    <%= form_for [@message_board, @document] do |f| %>
      <%= render 'shared/errors', object: f.object %>
      
      <div class="form-group">
        <label for="document_name">Nome</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <label for="document_description">Descrizione</label>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.file_field :file, class: "form-control-file" %>
      </div>

      <div class="form-group">
        <label for="document_category_id">Scegli categoria:</label>
        <%= f.collection_select(:category_id, @categories, :id, :name) %>
      </div>

      <%= f.hidden_field :message_board_id, :value => @message_board.id %>
      <%= f.submit "Pubblica", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
