<li id="post-<% post.id %>">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-2 col-md-1" align="center">

            <%= button_to post_approvals_path(post), method: :post, class: 'btn btn-link text-dark' do %>
              <%= octicon "chevron-up" %>
            <% end %>
            <!--button type="button" class="btn btn-link text-dark">
              <i class="fas fa-angle-up fa-lg"></i>
            </button-->

          <p class="my-0"> <%= post.approvals.count %> </p>
          <p class="my-0">
            <%= octicon "chevron-down" %>
          </p>
        </div>
        <div class="col">
          <h5 class="card-title"><%= post.user.name %> <%= post.user.surname %></h5>
          <p class="card-text"><%= post.description %></p>
          <a class="card-link">
            <%= link_to "Show", message_board_post_url(@message_board, post.id) %>
          </a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      <%= time_ago_in_words(post.updated_at) %>
    </div>
  </div>
</li>
