<li id="post-<% post.id %>" class="post">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= post.user.name %> <%= post.user.surname %></h5>
      <p class="card-text"><%= post.description %></p>
      <% if current_page?(action: 'index') %>
        <%= link_to "Show", message_board_post_url(@message_board, post.id), 
                            class: "card-link" %>
      <% end %>
      
      <% if current_user?(post.user_id) %>
          <%= link_to "Delete", message_board_post_url(@message_board, post),
                                data: { confirm: "Sei sicuro?" },
                                class: "card-link" %>
      <% end %>
    </div>
    <div class="card-footer text-muted text-center">
      <%= time_ago_in_words(post.updated_at) %>
    </div>
  </div>
</li>