<!DOCTYPE html>
<html>
  <head>
    <title>AcademicLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
  </head>

  <body>
    <% if current_user %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible fade show">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <% if not @errors.nil? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                The form contains <%= pluralize(@errors.length, "error") %>.
              </div>

              <ul>
                <% @errors.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
              
            </div>
          <% end %>

        </div>
      <% end %>

      

      <%= yield %>
    </div>
  </body>
</html>
